* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared portion of styles.css */

.btn {
  color: #ffffff;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
}

/* specific portion of styles.css  */

header .nav-bar {
  background-color: rgb(255, 255, 255);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 1360px;
  margin: 16px auto;
  align-items: center;
}

.nav-container .nav-logo img {
  width: 139px;
}

.nav-container .nav-list ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-container .nav-list ul a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.nav-container .nav-btn .btn {
  padding: 13px 16px;
}
